:root {
  --background-light: #F0F2FA;
  --background-white: #FFFFFF;
  --text-dark: #0A0040;
  --color-primary: #0000FF;
  --color-secundary: #7fd9f7;
  --color-selected: #413ef5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
  color: var(--text-dark);
}

body {
  height: 100vh;
  background-color: var(--background-white);
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1440px;
  height: 100%;
  display: flex;
}

.sidebar {
  width: 100px;
  background-color: var(--color-primary);
}

.content {
  width: 100%;
}

nav {
  max-width: 100vw;
  height: 100px;
  background-color: var(--color-secundary);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 20px;
  transition: all .3s ease-in-out;
  width: 130px;
}

.btn:hover {
  transform: scale(1.05);
  opacity: .8;
  background-color: var(--color-selected);
}

a.btn {
  justify-content: center;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-selected {
  background-color: var(--color-selected);
  color: #F0F2FA;
  transform: scale(1.08);
}

.frase {
  margin-right: 30px;
}

.list {
  flex-direction: column;
  align-items: center;
  display: flex;
  /* height: 300px; */
  /* background-color: burlywood; */
  /* overflow: auto; */
}

.list_header {
  display: flex;
  align-items: baseline;
  margin-top: 30px;
  justify-content: space-between;
  width: 90%;
  /* position: fixed; */
}

.list_header-select {
  background-color: transparent;
  border: 0;
  outline: none;
  font-weight: medium;
  font-size: 18px;
}

.date {
  font-weight: medium;
  font-size: 18px;
}

.btnNew {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  background-color: forestgreen;
  padding: 10px 12px;
  border-radius: 8px;
  margin-right: 0px;
}

.btnNew a {
  justify-content: center;
  text-decoration: none;
  color: #FFF;
}





.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  /* padding: 0 24px; */
}

.actions a {
  justify-content: center;
  transition: all .3s ease-in-out;
  margin: 0px 26px;
}

.actions>a:hover {
  cursor: pointer;
  transform: scale(1.30);
}

.logo img {
  width: 100px;
  margin-top: 30px;
}

.title th {
  background-color: #0000FF;
  color: #FFF;
  font-weight: normal;
  height: 30px;
}

.tr_body td {
  height: 30px;
}
.tr_body:hover {
  border-radius: 7px;
  transform: scale(1.01);
  overflow: hidden;
  background-color: #c4e9ff;
}

.title1 {
  padding: 0px 0px;
}
.title2 {
  padding: 0px 45px;
}
.title3 {
  padding: 0px 0px;
}
.title4 {
  padding: 0px 41px;
}
.title5 {
  padding: 0px 7px;
}
.title6 {
  padding: 0px 49px;
}
.title7 {
  padding: 0px 23px;
}
.title8 {
  padding: 0px 20px;
}

.title1v {
  padding: 0px 3.5px;
}
.title2v {
  padding: 0px 37px;
}
.title3v {
  padding: 0px 37px;
}
.title4v {
  padding: 0px 23px;
}
.title5v {
  padding: 0px 25px;
}
.title6v {
  padding: 0px 18px;
}
.title7v {
  padding: 0px 16px;
}
.title8v {
  padding: 0px 26px;
}

.tdLine1 {
  padding-left: 10px;
}
.tdLine2 {
  padding: 0px 78px;
}
.tdLine3 {
  padding: opx 34px;
  padding: 0px 41.5px;
}
.tdLine4 {
  padding: 0px 43px;
}
.tdLine5 {
  padding: 0px 26px;
}
.tdLine6 {
  padding: 0px 8px;
}
.tdLine7 {
  padding: 0px 5px;
}



.tdLine1v {
  padding: 0px 11px;
}
.tdLine2v {
  padding: 0px 71px;
}
.tdLine3v {
  padding: opx 34px;
  padding: 0px 68.5px;
}
.tdLine4v {
  padding: 0px 54px;
}
.tdLine5v {
  padding: 0px 46px;
}
.tdLine6v {
  padding: 0px 40px;
}
.tdLine7v {
  padding: 0px 23px;
}
.tdLine8v {
  padding: 0px -8px;
  padding: 0px -2px;
  padding: 0px 5px;
}

table {
  width: 90%;
  /* height: 200px; */
  margin-top: 30px;
  /* background-color: beige; */
  border-collapse: collapse;
  table-layout: fixed;
  /* background-color: aquamarine; */
}
tbody {
  display: block;
  overflow: auto;
  height: 400px;
}
table thead {
  width:100%;
  display: table;
}

/* table{
  border-collapse: collapse;
  table-layout: fixed;
  background-color: aquamarine;
}

table th, table td{
  text-align: left;
}

table td{
  border-bottom: 1px solid black;
}

table tbody{
  display: block;
  overflow: auto;
  height: 400px;
}

table thead {
   width:100%;
   display: table;
} */


/* .table {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.table-striped{
  margin-top: 30px;
  width: 90%;
  text-align: center;
}

tbody tr:hover {
  border-radius: 7px;
  transform: scale(1.01);
  overflow: hidden;
  background-color: #c4e9ff;
}

tr {
  width: 40px;
}
th {
  font-weight: normal;
  background-color: var(--color-primary);
  color: var(--background-white);
}

.title {
  height: 30px;
  font-size: 18px;
}

td {
  border-bottom: 1px solid #CCC;

} */