:root {
  --background-light: #F0F2FA;
  --background-white: #FFFFFF;
  --text-dark: #0A0040;
  --color-primary: #0043b9;
  --color-secundary: #7fd9f7;
  --color-selected: #1a63e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
  color: var(--text-dark);
  /* color: var(--color-primary); */
}

body {
  background-color: var(--background-white);
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 110px;
  background-color: var(--color-primary);
  /* display: flex; */
}

.content {
  flex: 1;
  width: calc(100vw-100px);
  height: calc(100vh-150px);
  height: 10;
}

nav {
  max-width: 100vw;
  height: 100px;
  background-color: var(--color-secundary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  padding: 10px 0px;
  border-radius: 5px;
  margin-left: 70px;
  transition: all .3s ease-in-out;
  width: 125px;
}

.btn:hover {
  transform: scale(1.05);
  opacity: .8;
}

a.btn {
  justify-content: center;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
  opacity: .9;
}
.btn-primary-form {
  background-color: var(--color-primary);
  color: white;
  margin-left: 0;
  display: flex;
  justify-content: center;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}
.btn-selected {
  background-color: var(--color-selected);
  color: #F0F2FA;
  transform: scale(1.05);
  display: flex;
  justify-content: center;
  font-size: 16px;
  border: 0;
}

.frase {
  margin-right: 30px;
}

.home {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
}

.list {
  flex-direction: column;
  align-items: center;
  display: flex;
  height: calc(100vh - 100px);
  background-color: var(--background-light);
  width: calc(100vw - 100px);
  /* max-width: 1300px; */
}
.list-content {
  position: relative;
}
.list-content p {
  text-align: center;
  margin-top: 10px;
}

h1 {
  color: #605f5f;
  font-size: 400;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.list_header {
  display: flex;
  align-items: baseline;
  margin: 20px 0px;
  justify-content: space-between;
}

.list_header-select {
  background-color: transparent;
  border: 0;
  outline: none;
  font-weight: medium;
  font-size: 18px;
}

.date {
  font-weight: medium;
  font-size: 18px;
}


.btns_form {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px 0 15px;
}
button.btnNew, button[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  background-color: forestgreen;
  padding: 10px 12px;
  border-radius: 5px;
  color: #FFF;
  transition: all .3s ease-in-out;
  cursor: pointer;
  font-size: 16px;
  border: 0;
}
.btnNew {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  background-color: forestgreen;
  padding: 10px 0px;
  border-radius: 5px;
  color: #FFF;
  transition: all .3s ease-in-out;
  cursor: pointer;
  font-size: 16px;
  border: 0;
}
.btnNew a {
  font-size: 16px;
  text-decoration: none;
  color: #F0F2FA;
}
.btnNew:hover {
  opacity: .8;
  transform: scale(1.05);
}

table {
  margin-top: 10px;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: #FFF;
  display: block;
  overflow-x: auto;
}
tbody {
  display: block;
  overflow: auto;
  height: 545px;
}

.title th {
  color: #0d0af7;
  font-weight: normal;
  height: 30px;
  border-bottom: 1px solid #CCC;
  /* margin-bottom: 6px; */
}

.tr_body {
  height: 35px;
  border-bottom: 1px solid #CCC;
  overflow-x: auto;
}
tbody>.tr_body td {
  height: 35px;
}
tbody>.tr_body:hover {
  border-radius: 7px;
  transform: scale(1.01);
  overflow: hidden;
  background-color: #c4e9ff;
}


.title {
  /* color: #2C2B33; */
  /* margin-bottom: 21px; */
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
.actions a {
  justify-content: center;
  transition: all .3s ease-in-out;
}
.actions>a:hover {
  cursor: pointer;
  transform: scale(1.20);
}

.logo img {
  width: 71px;
  margin-top: 16px;
  margin-left: 17px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.form {
  margin-top: 22px;
  /* display: flex; */
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  z-index: 999;
}

/* Título tabela Clients */
.title1, .title2, .title3, .title4, .title5, .title6 {border: 1px solid #FFF;}
.title1, .tdLine1 {
  width: 34px;
}
.title2, .tdLine2 {
  width: 257px;
}
.title3, .tdLine3 {
  width: 151px;
}
.title4, .tdLine4 {
  width: 189px;
}
.title5, .tdLine5 {
  width: 342px;
}
.title6 {
  width: 151px;
}
/* Linhas tabela CLIENTS */
.tdLine1, .tdLine3, .tdLine4 {text-align: center;}
.tdLine2, .tdLine5 {padding-left: 10px;}
.tdLine6 {
  width: 128px;
}


/* Titulo tabela VEHICLES */
.title1v, .title2v, .title3v,
.title4v, .title5v,
.title6v, .title7v, .title8v {
  border: 1px solid #FFF;
}
.title1v, .tdLine1v {
  width: 34px;
}
.title2v, .tdLine2v {
  width: 184px;
}
.title3v, .tdLine3v {
  width: 203px;
}
.title4v, .tdLine4v{
  width: 181px;
}
.title5v,.tdLine5v {
  width: 137px;
}
.title6v, .tdLine6v {
  width: 110px;
}
.title7v, .tdLine7v {
  width: 100px;
}
.title8v {
  width: 151px;
}
/* Linhas tabela VEHICLES */
.tdLine1v, .tdLine2v, .tdLine3v, .tdLine4v, .tdLine5v, .tdLine6v, .tdLine7v {text-align: center;}
.tdLine8v {
  width: 128px;
}


/* Titulo tabela ADDRESSES */
.title1a, .title2a, .title3a, .title4a, .title5a, .title6a, .title7a, .title8a, .title9a {border: 1px solid #FFF;}
.title1a, .tdLine1a {
  width: 34px;
}
.title2a, .tdLine2a {
  width: 206px;
}
.title3a, .tdLine3a {
  width: 246px;
}
.title4a, .tdLine4a {
  width: 72px;
}
.title5a, .tdLine5a {
  width: 117px;
}
.title6a, .tdLine6a {
  width: 176px;
}
.title7a, .tdLine7a {
  width: 163px;
}
.title8a, .tdLine8a {
  width: 44px;
}
.title9a {
  width: 155px;
}

/* Linhas tabela ADDRESSES */
.tdLine1a, .tdLine4a, .tdLine5a, .tdLine8a {text-align: center;}
.tdLine2a, .tdLine3a, .tdLine6a, .tdLine7a {padding-left: 10px;}
.tdLine9a {
  width: 128px;
}
#text {
  display: none;
}


/* Título tabela Products */
.title1p, .title2p, .title3p, .title4p, .title5p {border: 1px solid #FFF;}
.tdLine3p, .tdLine4p {text-align: center;}
.title1p, .tdLine1p {
  width: 34px;
}
.title2p, .tdLine2p {
  width: 598px;
}
.title3p, .tdLine3p {
  width: 169px;
}
.title4p, .tdLine4p {
  width: 189px;
}
.title5p {
  width: 151px;
}
/* Linhas tabela Products */
.tdLine1p {text-align: center;}
.tdLine2p {padding-left: 10px;}
.tdLine5p {
  width: 128px;
}


/* Título tabela Mecânicos */
.title1m, .title2m, .title3m, .title4m, .title5m, .title6m, .title7m, .title8m {border: 1px solid #FFF;}
.title1m, .tdLine1m {
  width: 34px;
}
.title2m, .tdLine2m {
  width: 347px;
}
.title3m, .tdLine3m {
  width: 288px;
}
.title4m, .tdLine4m {
  width: 255px;
}
.title5m, .tdLine5m {
  width: 147px;
}
.title6m, .tdLine6m {
  width: 270px;
}
.title7m {
  width: 151px;
}
/* Linhas tabela Mecânicos */
.tdLine1m, .tdLine3m, .tdLine4m, .tdLine5m {text-align: center;}
.tdLine2m, .tdLine6m {padding-left: 10px;}
.tdLine7m {
  width: 128px;
}

footer {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.footer {
  color: var(--color-primary);
}

.inputArea {
  display: block;
  margin: 15px;
}

.inputArea>label {
  display: block;
  padding-left: 5px;
  color: #605f5f;
}

.inputArea>input, .inputArea>select {
  height: 40px;
  width: 400px;
  padding-left: 10px;
  outline: none;
  font-size: medium;
  border-radius: 5px;
  border: 1px solid #CCC;
  background-color: white;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=password_confirmation]:focus,
select:focus {
  border-color: #0000FF;
}

.inputArea>select {
  color: #605f5f;
}

#alert {
  justify-content: space-evenly;
  position: absolute;
  margin-top: -39px;
  margin-left: 655px;
  border-radius: 18px;
  display: block;
}
.alert-success {
  color: #4eb94e;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  margin-left: 221px;
  border: 1px solid #4eb94e;
}
.alert-success img {
  width: 90%;
}

.alert-error li {
  background-color: orange;
  list-style: none;
  padding: 10px 0px;
  text-align: center;
  border-radius: 5px;
  color: #FF0000;
  margin: 10px;
}
a.close {
  color: var(--background-light);
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
}

#search {
  width: 300px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cececf;
  font-size: 16px;
}

.p_search strong {
  color: #0000ff;
}

.user_home {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DDD;
  width: -webkit-fill-available;
  flex-direction: column;
}
.user-logout {
  transition: all .3s ease-in-out;
  margin-left: 15px;
  margin-top: 2px;
}
.user-logout a {
  font-size: 20px;
  text-decoration: none;
  color: hsl(238.15deg 100% 50%);
}
.user-logout:hover {
  transform: scale(1.05);
  border-bottom: 1px solid #0000FF;
}
.search_form {
  display: flex;
  outline: none;
  border: 0;
}
.search_form input {
  outline: 1px solid #CCC;
}
.search_submit {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -40px;
  cursor: pointer;
  background-color: transparent;
}

button.btn_search {
  width: 40px;
  height: 40px;
  background-color: transparent;
}
button.btn_search img {
  width: 235%;
}

#search-sub {
  background-color: var(--background-white);
  width: 40px;
  margin-top: -40px;
  margin-left: 260px;
  z-index: 999;
  position: relative;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-radius: 0px 5px 5px 0px;
}
#search-sub img {
  width: 230%;
  transition: all .5s ease-in-out;
}
#search-sub img:hover {
  width: 260%;
  transform: scale(1.05);
}
.search_form  {
  outline: 1px solid #CCC;
  border-radius: 5px;
}
.car {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 269px);
  width: 100%;
}

.car img {
  width: 80%;
}

.car-login {
  opacity: 0.5;
  text-align: center;
  width: 100%;
}

.car-login img {
  width: auto;
}